# editor temporary
.*.sw[po]

# generated documenatation
cautl*.1

# generated dist
cautl-*.tar.gz

# build environment
/configure
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/install-sh
/missing
/config.log
/config.status
