[submodule "subverb"]
	path = subverb
	url = http://git.dresden.micronet24.de/benjamin/subverb.git
[submodule "bulletproof-tls"]
	path = bulletproof-tls
	url = https://github.com/ivanr/bulletproof-tls.git
[submodule "doc"]
	path = doc
	url = https://git.dresden.micronet24.de/benjamin/cautl.wiki.git
