[default]
name                    = $ENV::CA_NAME
domain_suffix           = $ENV::CA_DOMAIN
aia_url                 = http://$name.$domain_suffix/$name.crt
crl_url                 = http://$name.$domain_suffix/$name.crl
ocsp_url                = http://ocsp.$name.$domain_suffix:${ENV::CA_OCSP_PORT}
default_ca              = ca_default
name_opt                = utf8,esc_ctrl,multiline,lname,align

[ca_dn]
countryName             = ${ENV::CA_COUNTRY}
organizationName        = ${ENV::CA_ORG}
commonName              = ${ENV::CA_COMMONNAME}

[ca_default]
home                    = $ENV::CA_HOME
database		= $home/index.txt	# database index file.
serial			= $home/serial 		# The current serial number
crlnumber		= $home/crlnumber	# the current crl number
certificate		= $home/cacert.pem 	# The CA certificate
private_key		= $home/private/$name.pem# The private key
RANDFILE		= $home/private/.rand	# private random number file
new_certs_dir		= $home/newcerts	# default place for new certs.

certs			= $home/certs		# Where the issued certs are kept
crl_dir			= $home/crl		# Where the issued crl are kept

						# must be commented out to leave a V1 CRL
crl			= $home/crl.pem 	# The current CRL

unique_subject          = no
copy_extensions         = copy
default_days            = ${ENV::CA_VLD_DAYS}
default_crl_days        = ${ENV::CA_VLD_DAYS_CRL}
default_md              = sha256
policy                  = policy_c_o_match

[policy_c_o_match]
countryName             = match
stateOrProvinceName     = optional
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[req]
default_bits            = ${ENV::CA_BITSIZE}
encrypt_key             = yes
default_md              = sha256
utf8                    = yes
string_mask             = utf8only
prompt                  = no
distinguished_name      = ca_dn
req_extensions          = ca_ext

[ca_ext]
authorityInfoAccess     = @issuer_info
authorityKeyIdentifier  = keyid:always
basicConstraints        = critical,CA:false
crlDistributionPoints   = @crl_info
extendedKeyUsage        = clientAuth,serverAuth,1.3.6.1.5.5.8.2.2
keyUsage                = critical,digitalSignature,keyEncipherment
subjectKeyIdentifier    = hash

[sub_ca_ext]
authorityInfoAccess     = @issuer_info
authorityKeyIdentifier  = keyid:always
basicConstraints        = critical,CA:true,pathlen:0
crlDistributionPoints   = @crl_info
extendedKeyUsage        = clientAuth
keyUsage                = critical,digitalSignature
subjectKeyIdentifier    = hash

[crl_info]
URI.0                   = $crl_url

[issuer_info]
caIssuers;URI.0         = $aia_url
OCSP;URI.0              = $ocsp_url

[ocsp_ext]
authorityKeyIdentifier  = keyid:always
basicConstraints        = critical,CA:false
extendedKeyUsage        = OCSPSigning
noCheck                 = yes
keyUsage                = critical,digitalSignature
subjectKeyIdentifier    = hash
