[default]
name                    = <<CA_NAME>>
host			= <<CA_HOST>>
domain_suffix           = <<CA_DOMAIN>>
<<if [ -n "$CA_CRL_URL" ]>> 
aia_url			= <<CA_CRL_URL>>/$name.crt
crl_url			= <<CA_CRL_URL>>/$name.crl
<<else>>
aia_url                 = http://$host.$domain_suffix/$name.crt
crl_url                 = http://$host.$domain_suffix/$name.crl
<<end>>
<<if [ -n "$CA_OCSP_URL" ]>> 
ocsp_url		= <<CA_OCSP_URL>>
<<else>>
ocsp_url                = http://ocsp.$host.$domain_suffix:<<CA_OCSP_PORT>>
<<end>>
default_ca              = ca_default
<<if [ "$UTF8" -gt 0 ]>>
name_opt                = utf8,esc_ctrl,multiline,lname,align
<<else>>
name_opt                = esc_ctrl,multiline,lname,align
<<end>>
engines			= engine_section

[engine_section]
pkcs11			= pkcs11_section

[pkcs11_section]
engine_id		= pkcs11
dynamic_path		= /usr/lib/x86_64-linux-gnu/engines-1.1/libpkcs11.so
MODULE_PATH		= /usr/lib/x86_64-linux-gnu/opensc-pkcs11.so
init			= 0

[ca_dn]
countryName             = <<CA_COUNTRY>>
organizationName        = <<CA_ORG>>
<<if [ -n "$CA_OU" ]>>
organizationalUnitName  = <<CA_OU>>
<<end>>
commonName              = <<CA_COMMONNAME>>

[ca_default]
home                    = <<CA_HOME>>
database		= $home/index.txt	# database index file.
serial			= $home/serial 		# The current serial number
crlnumber		= $home/crlnumber	# the current crl number
certificate		= $home/cacert.pem 	# The CA certificate
private_key		= $home/private/$name.pem# The private key
RANDFILE		= $home/private/.rand	# private random number file
new_certs_dir		= $home/newcerts	# default place for new certs.

certs			= $home/certs		# Where the issued certs are kept
crl_dir			= $home/crl		# Where the issued crl are kept

						# must be commented out to leave a V1 CRL
crl			= $home/crl.pem 	# The current CRL

unique_subject          = no
copy_extensions         = none
default_days            = <<CA_VLD_DAYS>>
default_crl_days        = <<CA_VLD_DAYS_CRL>>
default_md              = sha256
policy                  = policy_c_o_match

<<if [ "0$NO_ENAIL_DN" -gt 0 ]>>
email_in_dn		= no
<<end>>

[policy_c_o_match]
countryName             = match
stateOrProvinceName     = optional
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

